.img_wrapper {
  padding: 0px;
  position: relative;
  grid-column: 1 / 3;
  max-width: fit-content;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay {
  opacity: 0;
  transition: 0.5s ease;
}

.play_button {
  transition: 0.5s ease;
}

.img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  border-radius: 10px;
  margin-bottom: -4px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
}

.img_wrapper:hover .img {
  opacity: 0.4;
}

.img_wrapper:hover .overlay {
  opacity: 1;
}

.play_button:hover {
  cursor: pointer;
}